
body {
  font-family: 'Roboto', sans-serif;
}



input {
  font-family: 'Roboto', sans-serif;
}

/* PT sans
font-family: 'PT Sans', sans-serif;
 */

.login-border{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight:700;
  color: white;
  background-color: black;
  border: 2px solid;
  border-radius: 25px;
  border-color: black;
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-top: -20px;
  margin-left: -50px;
  transform: translate(-40%, 50%);

}

.regform{
  margin-top: -100px;
}
.back{
  font-size: 30px;
}

.register-border{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight:700;
  color: white;
  background-color: black;
  border: 2px solid;
  border-radius: 25px;
  border-color: black;
  width: 500px;
  height: 900px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  transform: translate(-40%, 10%);
}
.register_header{
  font-size: 22px;
}
.login_header{
  font-size: 30px;
}
.login_text{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
}
