body{
    background-color: #174886;
    color: white;
}

.main-div{
  text-align: center;
  border-radius: 10px;
  width: 800px;
  height: 700px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #373737;
  display: inline-block;
  box-shadow: 1px 1px 3px lightblue;
}

.alteredInput{
  width: 700px;
}

hr{
  background: #9B9B9B;
  margin: 15px;
}
